# Compiled class file
*.class

# Log file
*.log

# Compiled objects / libraries
*.so
*.o

# virtual machine crash logs
hs_err_pid*

# IDE config
*.iml
.idea/
.classpath
.project
.settings/
.vscode
.factorypath

# Maven compiled directory
target/
